* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.port-nav {
    color: #1e2a38;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

li > a {
    text-decoration: none;
    color: #1e2a38;
}

li > a:hover {
    color: #2d3f52;
    text-decoration: underline;
}

li > a:hover {
    animation-duration: 0.4ms;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 10rem;
    padding-left: 10rem;
}

.port-section {
    background-color: #d6d3e7;
    height: 100%;
    width: 100%;
    margin-top: -30px;
    padding: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

/* Section First Introductio To Me */

.port-sec1 {
    padding-left: 30px;   

}

.port-info {
    font-size: 25px;
    width: 80%;
}

.port-btn {
    background-color: #d6d3e7;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 26px;
    padding-bottom: 15px;
    padding-left: 26px;
    border-radius: 15px;
    color: black;
    border-style: solid;
    border-width: 1px;
}

@keyframes Bgbtnsty {
    from {
        background-color: #2d3f52;
        color: white;
    }
    to {
        background-color: #bab2e8;
        color: black;
    }
}

.port-btn:hover {
    background-color: #bab2e8;
    color: #ffff;
    cursor: pointer;
    box-shadow: -2px 4px black;
    animation-name: Bgbtnsty;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.port-btn-2 {
    background-color: white;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 26px;
    padding-bottom: 15px;
    padding-left: 26px;
    border-radius: 15px;
    color: black;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}

.port-btn-2:hover {
    background-color: black;
    color: #ffff;
    cursor: pointer;
    box-shadow: -2px 4px;
}

.port-section1 {
    background-color: #f3f0f7;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: solid;
    border-width: 2px;
}

.port-container {
    margin-top: 20px;
    display: flex;
    padding: 20px;
    border: 2px rgb(0, 0, 0) solid;
}

.port-image {
    border-radius: 12px;
    width: 500px;
    height: 500px;
}

.port-child1 {
    align-self: center;
}

.port-box2 {
    display: flex;
    justify-content: space-around;
    background-color: #f3f0f7;
    border: 2px black solid;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

table, tr, td, th {
    border-radius: 2px;
    border-style: solid;
    border-color: #1e2a38;
    padding: 6px;
}

th, td {
    padding: 5px;
}

th {
    background-color: #bab2e8;
}

.ol, .li {
    list-style-type: disc;
    color: #1e2a38;
    padding-top: 20px;
    font-size: 25px;
}

port-add-info, p {
    font-size: 25px;
}

/* Fourth box */

.port-box3 {
    margin-top: 20px;
    border: 2px black solid;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f0f7;
    padding-left: 40px;
}

.fol, .fli{
    list-style-type: disc;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.port-box4 {
    margin-top: 20px;
    border: 2px black solid;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f0f7;
    padding-left: 40px;
}

.port-foot {
    background-color: #abb7c6;
    color: #1e2a38;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    top: 50px;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

/* Arrow button for Top and Bottom */

.arrowbtn {
    margin-top: 20px;
    border-style: solid;
    padding: 10px;
    width: 7%;
    border-radius: 12px;
    background-color: #f3f0f7;
    position: fixed;
    right: 44px;
    left: 90%;
    top: 85%;
    z-index: 1;
}

.port-up-down {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 30px;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 25px;
}

.port-up-down:hover {
    background-color: #1e2a38;
}

.bi-arrow-up:hover {
    color: white;
}

.bi-arrow-down:hover {
    color: white;
}

#downSty {
    padding-top: 60px;
}